@charset "utf-8";

/*background-image causes the background to be paper due to it being connected to a PNG file that looks like paper*/
html {
   background-image:url(../pictures/br_paper.png);
   color: rgb(255, 255, 255);
   font-size: 12px;

}

body {
	background-image: linear-gradient(to left, #877956, #e0d0ab, #ffefca);
   font-family: Verdana, Geneva, sans-serif; 	
   margin-left: auto;
   margin-right: auto;
   width: 960px;
   box-shadow:  rgb(71, 71, 71) -10px -10px 25px,
   				rgb(71,71,71) 10px 10px 25px;
}
body > header {
	background-color:rgb(202, 140, 98);
}


body > header > img {
	display: block;
	width: 28%;
}
section#listspec{
	float:right;
	
}

nav#mainLinks ul li {
	background-color: rgb(138, 59, 7);	
	display: block;
	float: left;
	text-align: center;
	width: 20%;	
}

nav#mainLinks ul li a {
	display: block;
	height: 2.5em;	
	text-align: center;
	line-height: 2.5em;	
}

nav#mainLinks a:link, nav#mainLinks a:visited {
	color: rgb(255, 255, 255);
}
/*the code below this makes it where when you hover your mouse over the box/link, it will change color*/
nav#mainLinks a:hover, nav#mainLinks a:active {
	background-color: rgb(143, 69, 0);
}


article > header > img {	
	display: block;
	width: 100%;
}


/*for the Footer*/
nav#bottomlinks ul li {
	background-color: rgb(122, 58, 16);	
	display: block;
	float: left;
	text-align: center;
	width: 25%;	
}

nav#bottomlinks ul li a {
	display: block;
	height: 2.5em;	
	text-align: center;
	line-height: 2.5em;	
}



nav#bottomlinks a:link, nav#bottomlinks a:visited {
	color: rgb(255, 255, 255);
}
/*same code that makes the link change color, but its for the footer*/
nav#bottomlinks a:hover, nav#bottomlinks a:active {
	background-color: rgb(143, 69, 0);
}
